.search-dropdown {
  position: fixed;
  top: 55px;
  right: 0;
  /* width: 320px; */
  max-height: 70vh;
  overflow-y: auto;
  background: #3f255f;
  border-radius: 8px;
  padding: 10px 35px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  z-index: 3000;
  left: 0;
  display: flex;
}

.suggestion-item {
  display: flex;
  gap: 10px;
  padding: 8px 12px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  transition: background 0.2s;

  &:hover {
    border:1px solid #ffffff;
    border-radius: 8px ;
  }
}

.suggestion-img {
  width: 55px;
  height: 80px;
  border-radius: 4px;
  object-fit: cover;
}

.suggestion-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.suggestion-title {
  font-weight: 600;
  line-height: 1.2;
}

.suggestion-meta {
  font-size: 12px;
  opacity: 0.7;
}

