.movie-card {
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  box-shadow: 0px 3px 9px #09081b7a;
  border: 1px solid #ddd;
  position: relative;
  max-height: 444px;
  height: 444px;
  cursor: pointer;
  .card-img-overlay{
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  }
  a{
    text-decoration: none;
  }
  &:hover {
    transform: translateY(-5px);
  }

  //.poster {
  //  width: 100%;
  //  object-fit: cover;
  //  border-radius: 8px;
  //}

  .info {
    padding: 10px;
    text-align: center;
     position: absolute;
    z-index: 111;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    h5 {
      font-size: 16px;
      margin: 0;
      color: #fff;
      text-decoration: none;
    }

    .rating {
      margin-top: 5px;
      color: #f5c518;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
