<!-- SKELETON -->
<movie-detail-skeleton *ngIf="loading()"></movie-detail-skeleton>

<!-- PAGE CONTENT -->
<div class="movie-detail-page" *ngIf="!loading() && movie() as m">

  <!-- HERO SECTION -->
  <movie-hero [movie]="m"></movie-hero>

  <div class="container mt-4">

    <div class="row">

      <!-- LEFT SIDE -->
      <div class="col-lg-9 col-md-8 col-12">

        <!-- STORYLINE -->
        <section class="section storyline mb-4">
          <h2 class="text-white">Storyline</h2>
          <p class="text-white">{{ m.overview }}</p>
        </section>
        <!-- DETAILS BLOCK -->
        <section class="mb-4">
          <movie-details-block
            [movie]="m"
            [countries]="productionCountries()"
            [languages]="spokenLanguages()"
            [companies]="productionCompanies()"
            class="mt-4"
          ></movie-details-block>
        </section>


        <!-- CAST -->
        <section class="mb-4">
          <movie-cast [cast]="cast()"></movie-cast>
        </section>


      </div>

      <!-- RIGHT SIDEBAR -->

        <section class="col-lg-3 col-md-4 col-12 mt-4 mt-md-0">
          <div class="position-sticky top-20">
          <movie-sidebar [movie]="m"></movie-sidebar>
          </div>
        </section>



    </div>

  </div>

</div>
