.movie-detail-page {
  padding-bottom: 50px;
}
.top-20{
  top: 20px;
}
.section h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
}

.storyline p {
  line-height: 1.7;
  opacity: 0.9;
}

/* Responsive improvements */
@media (max-width: 768px) {
  .movie-detail-page {
    padding: 0 10px;
  }
}
