.cast-card {
  background: #1c1c1c05;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  color: #fff;
  border: 1px solid #ddd;
}

.cast-img {
  width: 100%;
  border-radius: 8px;
  //height: 160px;
  object-fit: cover;
}

.cast-name {
  font-weight: bold;
  margin-top: 8px;
}

.cast-role {
  opacity: 0.7;
  font-size: 14px;
}
