<div class="skeleton-page">

  <div class="hero-skeleton mb-4"></div>

  <div class="container">
    <div class="row">

      <!-- LEFT -->
      <div class="col-lg-9 col-md-8 col-12">

        <div class="skeleton skeleton-title"></div>
        <div class="skeleton skeleton-line"></div>
        <div class="skeleton skeleton-line short"></div>

        <div class="row mt-4">
          <div class="col-6 col-md-3 mb-3" *ngFor="let x of [1,2,3,4,5,6,7,8]">
            <div class="cast-skeleton"></div>
          </div>
        </div>

      </div>

      <!-- RIGHT -->
      <div class="col-lg-3 col-md-4 col-12">
        <div class="skeleton skeleton-box mb-3"></div>
        <div class="skeleton skeleton-box mb-3"></div>
        <div class="skeleton skeleton-button"></div>
      </div>

    </div>
  </div>

</div>
